<%
  title = "Hello world"
  date  = ~D[2023-04-16]
  author = %{
    name: "Geoffrey Lessel",
    site: "https://builditwithphoenix.com"
  }
%>

<h1>Hello, world</h1>

This is my first post in my new static site generator project.
I really hope that you like it.
